/* ContactUs.css (or your stylesheet) */

.contact-us-container {
    display: flex;
    justify-content: center; /* Adjust this based on your layout preferences */
    margin: 30px;
    gap: 55px;
  }
  
  .contact-card {
    text-align: center;
  }
  
  .contact-icon {
    margin-bottom: 10px; /* Adjust the spacing between icon and text if needed */
  }
  
  /* Optional: Adjust styles for the anchor tag */
  .contact-card a {
    text-decoration: none;
    color: inherit; /* Inherit the text color from the parent */
  }
  